#energy {
    /*transition: stroke-dashoffset 1s linear;*/
    stroke: rgba(255,255,0,0.7);
    stroke-width: 20px;
    stroke-dasharray: 172.7,1000;
    transform: rotate(135deg);
    transform-origin: center center;
}
#svg {
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
}
#inf {
    width: 200px; height: 50px;
    position: absolute;
    font-size: 50px;
    font-weight: 600;
    color: #ffffff;
}
#load {
    width: 200px; height: 50px;
    position: absolute; left: 0; top: 0; right: 0; bottom: 0;
    margin: auto;
    z-index: 999;
    font-size: 50px;
    font-weight: 600;
    color: #8c888b;
    background: -webkit-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
    -moz-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
    -ms-linear-gradient(45deg, #70f7fe, #fbd7c6, #fdefac, #bfb5dd, #bed5f5);
    color: transparent;
    -webkit-background-clip: text;
    /*背景裁剪为文本形式*/
    animation: ran 10s linear infinite;
    /*display: none;*/
}
@keyframes ran {
    from {
        backgroud-position: 0 0;
    }
    to {
        background-position: 2000px 0;
    }
}